<%- include('header'); %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4"><%= title %></h1>
            <p>
                <a href="#"></a>
                <hr class="my-4">
            <p>Para ver o agregar notas has click aqui</p>
            <a class="btn btn-primary btn-lg" href="/notes" role="button">Iniciar</a>
        </div>

    </div>

</body>
<%- include('footer'); %>
